# Função Open

In [1]:
arquivo = open('sobrepython.txt', 'r', encoding='utf-8')
arquivo.readlines()
arquivo.close()

with open('sobrepython.txt', 'r', encoding='utf-8') as arquivo:
    print(arquivo.readlines())
    
with open('sobrepython.txt', 'r', encoding='utf-8') as arquivo:
    resultado = arquivo.read().splitlines()
    
print(resultado[0])

['Python é uma linguagem de programação de alto nível,[4] interpretada, de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte. Foi lançada por Guido van Rossum em 1991.[1] Atualmente possui um modelo de desenvolvimento comunitário, aberto e gerenciado pela organização sem fins lucrativos Python Software Foundation. Apesar de várias partes da linguagem possuírem padrões e especificações formais, a linguagem como um todo não é formalmente especificada. O padrão de facto é a implementação CPython.\n', '\n', 'A linguagem foi projetada com a filosofia de enfatizar a importância do esforço do programador sobre o esforço computacional. Prioriza a legibilidade do código sobre a velocidade ou expressividade. Combina uma sintaxe concisa e clara com os recursos poderosos de sua biblioteca padrão e por módulos e frameworks desenvolvidos por terceiros.\n', '\n', 'Python é uma linguagem de propósito geral de alto nível, multiparadigma, suporta o paradigma orientado a objetos, imperativo, funcional e procedural. Possui tipagem dinâmica e uma de suas principais características é permitir a fácil leitura do código e exigir poucas linhas de código se comparado ao mesmo programa em outras linguagens. Devido às suas características, ela é principalmente utilizada para processamento de textos, dados científicos e criação de CGIs para páginas dinâmicas para a web. Foi considerada pelo público a 3ª linguagem "mais amada", de acordo com uma pesquisa conduzida pelo site Stack Overflow em 2018,[5] e está entre as 5 linguagens mais populares, de acordo com uma pesquisa conduzida pela RedMonk.[6]\n', '\n', "O nome Python teve a sua origem no grupo humorístico britânico Monty Python,[7] criador do programa Monty Python's Flying Circus, embora muitas pessoas façam associação com o réptil do mesmo nome (em português, píton ou pitão).\n", '\n', 'Fonte: https://pt.wikipedia.org/wiki/Python']
Python é uma linguagem de programação de alto nível,[4] interpretada, de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte. Foi lançada por Guido van Rossum em 1991.[1] Atualmente possui um modelo de desenvolvimento comunitário, aberto e gerenciado pela organização sem fins lucrativos Python Software Foundation. Apesar de várias partes da linguagem possuírem padrões e especificações formais, a linguagem como um todo não é formalmente especificada. O padrão de facto é a implementação CPython.

# Pandas

## Series

In [2]:
import pandas as pd

notas = pd.Series([5, 9, 3, 7])
print(notas)

print('Soma: ', notas.sum())
print('Média: ', notas.mean())
print('Contar', notas.count())

0    5
1    9
2    3
3    7
dtype: int64
Soma:  24
Média:  6.0
Contar 4

## Dataframe

In [3]:
import pandas as pd

dados = {
    'Nome': ['Suzi', 'Samuel', 'Danilo', 'Cintia'],
    'Notas': [5.1, 9.2, 3.8, 7.2],
    'Faltas': [1, 4, 2, 3]
}

df = pd.DataFrame(dados)
df

     Nome  Notas  Faltas
0    Suzi    5.1       1
1  Samuel    9.2       4
2  Danilo    3.8       2
3  Cintia    7.2       3

In [4]:
print(df.columns)
print()

print(df.dtypes)
print()

print(df['Notas'])
print()

colunas = ['Nome', 'Notas']
print(df[colunas])
print()

colunas = ['Notas', 'Faltas']
print(df[colunas].sum())
int(df[colunas].sum()['Faltas'])

Index(['Nome', 'Notas', 'Faltas'], dtype='object')

Nome       object
Notas     float64
Faltas      int64
dtype: object

0    5.1
1    9.2
2    3.8
3    7.2
Name: Notas, dtype: float64

     Nome  Notas
0    Suzi    5.1
1  Samuel    9.2
2  Danilo    3.8
3  Cintia    7.2

Notas     25.3
Faltas    10.0
dtype: float64

10

## Ordenando valores

In [5]:
df.sort_values(by='Notas', ascending=False)

     Nome  Notas  Faltas
1  Samuel    9.2       4
3  Cintia    7.2       3
0    Suzi    5.1       1
2  Danilo    3.8       2

## Operações de filtro

In [6]:
# & = and
# | = or
df[
    (df['Notas'] > 6) | (df['Faltas'] < 2)
]

     Nome  Notas  Faltas
0    Suzi    5.1       1
1  Samuel    9.2       4
3  Cintia    7.2       3

# Leitura de dados

## read_csv

In [7]:
import pandas as pd

df = pd.read_csv('AAPL.csv', sep=',')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-03-01,97.650002,100.769997,97.419998,100.529999,94.228645,50407100
1,2016-03-02,100.510002,100.889999,99.639999,100.750000,94.434853,33169600
2,2016-03-03,100.580002,101.709999,100.449997,101.500000,95.137848,36955700
3,2016-03-04,102.370003,103.750000,101.370003,103.010002,96.553185,46055100
4,2016-03-07,102.389999,102.830002,100.959999,101.870003,95.484657,35828900

## read_csv (arquivos zip)

In [8]:
import pandas as pd

df = pd.read_csv('Dominios_GovBR_basico.zip', compression='zip', sep=';', encoding='latin1')
df.head()

,dominio,documento,nome,uf,cidade,cep,data_cadastro,ultima_atualizacao,ticket
0,eletrobras.gov.br,000.001.180/0002-07,CENTRAIS ELETRICAS BRASILEIRAS SA,RJ,Rio de Janeiro,20071-003,1996-01-09 12:00:00,2014-07-02 19:56:36,5023
1,premioconservacaoenergia.gov.br,000.001.180/0002-07,CENTRAIS ELETRICAS BRASILEIRAS SA,RJ,Rio de Janeiro,20071-003,2009-03-24 20:07:14,2013-04-15 21:36:17,5379045
2,procel.gov.br,000.001.180/0002-07,CENTRAIS ELETRICAS BRASILEIRAS SA,RJ,Rio de Janeiro,20071-003,2000-11-06 18:41:03,2009-10-05 18:54:36,453438
3,proinfa.gov.br,000.001.180/0002-07,CENTRAIS ELETRICAS BRASILEIRAS SA,RJ,Rio de Janeiro,20071-003,2002-04-18 14:55:25,2013-04-15 21:36:41,784297
4,reluz.gov.br,000.001.180/0002-07,CENTRAIS ELETRICAS BRASILEIRAS SA,RJ,Rio de Janeiro,20071-003,2000-11-06 18:41:04,2009-10-05 18:35:49,453442

## read_excel

In [9]:
import pandas as pd

df = pd.read_excel('acoes.xlsx', sheet_name='apple')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-03-01,97.650002,100.769997,97.419998,100.529999,94.228645,50407100
1,2016-03-02,100.510002,100.889999,99.639999,100.750000,94.434853,33169600
2,2016-03-03,100.580002,101.709999,100.449997,101.500000,95.137848,36955700
3,2016-03-04,102.370003,103.750000,101.370003,103.010002,96.553185,46055100
4,2016-03-07,102.389999,102.830002,100.959999,101.870003,95.484657,35828900

## read_json

In [10]:
import pandas as pd

filmes = pd.read_json('https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json')
filmes.sample(10)

,title,year,cast,genres
18662,Jonathan Livingston Seagull,1973,"[James Franciscus, Juliet Mills]",[]
6502,You Said a Mouthful,1932,"[Joe E. Brown, Ginger Rogers]",[Comedy]
1379,His Wife's Friend,1919,"[Dorothy Dalton, Warren Cook]",[Mystery]
19525,Rich Kids,1979,"[Trini Alvarado, Jeremy Levy, John Lithgow]",[Comedy]
2291,Monte Cristo,1922,"[John Gilbert, Estelle Taylor]",[Historical]
20971,Uncle Meat,1987,"[Frank Zappa, Linda Ronstadt, Haskell Wexler]",[Documentary]
756,Ragtime Snap Shots,1915,[Harold Lloyd],[]
1644,The Thunderbolt,1919,"[Katherine MacDonald, Thomas Meighan]",[Drama]
23476,Common Bonds,1997,[],[]
21821,Barton Fink,1991,"[John Turturro, John Goodman, John Mahoney, Ju...",[Drama]

### Agrupando valores

In [11]:
filmes.groupby('year').count()

      title  cast  genres
year
1900     17    17      17
1901     80    80      80
1902      7     7       7
1903     78    78      78
1904     25    25      25
...     ...   ...     ...
2014    214   214     214
2015    130   130     130
2016    143   143     143
2017    238   238     238
2018    236   236     236

[119 rows x 3 columns]

# Webscraping

## Exemplo 1 (Youtube)

In [15]:
# Importando as bibliotecas
import requests
from bs4 import BeautifulSoup

# Encontrar a URL
url = 'https://www.youtube.com/results?search_query=ciencia+de+dados'

# Contruir um objeto soup a partir da URL
html = requests.get(url).text
soup = BeautifulSoup(html, 'html.parser')
print(soup.find('title').text)

# Inspecionar a página

ciencia de dados - YouTube

### Achando o primeiro bloco do site

In [16]:
# O primeiro vídeo do site é "O que é ciência de dados | Nerdologia Tech"
soup.prettify()

In [17]:
# Dar Ctrl-F no resultado de soup.prettify() para achar o título "O que é ciência de dados | Nerdologia Tech"
# Achar a tag h3 nomeado com a classe yt-lockup-title
titulo = soup.find('h3', attrs={'class': 'yt-lockup-title'})
print(titulo.prettify())

# Às vezes a página pode conter anúncios, então o primeiro elemento não vai ser o que queremos
# Nesse caso, só rodar o código do BeautifulSoup desde o início

<h3 class="yt-lockup-title">
 <a aria-describedby="description-id-523755" class="yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2 yt-uix-sessionlink spf-link" data-sessionlink="itct=CFgQ3DAYACITCIfc16D5n-kCFconkAodJYYEtTIGc2VhcmNoUhBjaWVuY2lhIGRlIGRhZG9zmgEDEPQk" dir="ltr" href="/watch?v=ykSILAQQu6o" rel="spf-prefetch" title="O que é ciência de dados | Nerdologia Tech">
  O que é ciência de dados | Nerdologia Tech
 </a>
 <span class="accessible-description" id="description-id-523755">
  - Duração: 9:30.
 </span>
</h3>

In [18]:
# Achar o bloco mãe (parent), o bloco que engloba todo o vídeo
bloco = titulo.parent
print(bloco.prettify())

# Anotar as caracterísitcas do bloco mãe e utilizar no código final

<div class="yt-lockup-content">
 <h3 class="yt-lockup-title">
  <a aria-describedby="description-id-523755" class="yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2 yt-uix-sessionlink spf-link" data-sessionlink="itct=CFgQ3DAYACITCIfc16D5n-kCFconkAodJYYEtTIGc2VhcmNoUhBjaWVuY2lhIGRlIGRhZG9zmgEDEPQk" dir="ltr" href="/watch?v=ykSILAQQu6o" rel="spf-prefetch" title="O que é ciência de dados | Nerdologia Tech">
   O que é ciência de dados | Nerdologia Tech
  </a>
  <span class="accessible-description" id="description-id-523755">
   - Duração: 9:30.
  </span>
 </h3>
 <div class="yt-lockup-byline">
  <a class="yt-uix-sessionlink spf-link" data-sessionlink="itct=CFgQ3DAYACITCIfc16D5n-kCFconkAodJYYEtQ" href="/user/nerdologia">
   Nerdologia
  </a>
  <span class="yt-uix-tooltip yt-channel-title-icon-verified yt-sprite" title="Verificado">
  </span>
 </div>
 <div class="yt-lockup-meta">
  <ul class="yt-lockup-meta-info">
   <li>
    há 1 ano
   </li>
   <li>
    279.027 visualizações
   </li>
  </ul>
 </div>
 <div class="yt-lockup-description yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr">
  ESTE NERDOLOGIA É UM OFERECIMENTO DA ALURA Acesse e aproveite a promoção da Alura com o Nerdologia Tech: ...
 </div>
</div>

### Montado o código

In [19]:
videos = []
for video in soup.find_all('div', attrs={'class': 'yt-lockup-content'}):
    titulo = video.find('h3', attrs={'class': 'yt-lockup-title'}).a.text
    duracao = video.find('h3', attrs={'class': 'yt-lockup-title'}).span.text
    url = video.find('h3', attrs={'class': 'yt-lockup-title'}).a['href']
    videos.append([titulo, duracao, url])

videos[0]

['O que é ciência de dados | Nerdologia Tech',
 ' - Duração: 9:30.',
 '/watch?v=ykSILAQQu6o']

In [20]:
# Armazenando os dados
df = pd.DataFrame(videos, columns=['Título', 'Duração', 'URL'])
df.head()

,Título,Duração,URL
0,O que é ciência de dados | Nerdologia Tech,- Duração: 9:30.,/watch?v=ykSILAQQu6o
1,"Episódio 1 - Cientista de Dados, Por Onde Come...",- Duração: 32:14.,/watch?v=NmCuEgkVLWo
2,Como se Tornar um Cientista de Dados de Sucess...,- Duração: 7:10.,/watch?v=-vawLSNdo-A
3,Minha Jornada em Ciência de Dados (Parte 1) - ...,- Duração: 5:59.,/watch?v=QrpAmjbSQHA
4,Ciência de dados: como é criar o primeiro proj...,- Duração: 6:23.,/watch?v=L_SZQKv5Cl0

## Exemplo 2 (Google)

In [21]:
# Importando as bibliotecas
import requests
from bs4 import BeautifulSoup

# Encontrar a URL
url = 'https://www.google.com/search?q=ciencia+de+dados'

# Contruir um objeto soup a partir da URL
html = requests.get(url).text
soup = BeautifulSoup(html, 'html.parser')
print(soup.find('title').text)

# Inspecionar a página

ciencia de dados - Pesquisa Google

### Achando o primeiro bloco do site

In [22]:
# O primeiro bloco do site tem o título "Introdução à Ciência de Dados 2.0 - Data Science Academy"
soup.prettify()

In [23]:
# Dar Ctrl-F no resultado de soup.prettify() para achar o título "Introdução à Ciência de Dados 2.0 - Data Science Academy"
# Achar a tag h3 nomeado com a classe yt-lockup-title
titulo = soup.find('div', attrs={'class': 'BNeawe vvjwJb AP7Wnd'})
print(titulo.prettify())

# Às vezes a página pode conter anúncios, então o primeiro elemento não vai ser o que queremos
# Nesse caso, só rodar o código do BeautifulSoup desde o início

<div class="BNeawe vvjwJb AP7Wnd">
 Introdução à Ciência de Dados 2.0 - Data Science Academy
</div>

In [24]:
# Achar o bloco mãe (parent), o bloco que engloba todo o vídeo, neste caso, vão ser múltiploes comandos parent
# Utilizar o comando parent até o código englobar a maioria das informações, mas que não inclua informação no próximo bloco
bloco = titulo.parent.parent.parent.parent
print(bloco.prettify())

# Neste caso, o bloco mãe não possui nenhuma caracterísitca especial, então vamos fazer uma outra abordagem
# Vamos combinar os códigos das duas células que escrevemos

<div>
 <div class="ZINbbc xpd O9g5cc uUPGi">
  <div class="kCrYT">
   <a href="/url?q=https://www.datascienceacademy.com.br/course%3Fcourseid%3Dintroduo--cincia-de-dados&amp;sa=U&amp;ved=2ahUKEwjr8Zap-Z_pAhXRb30KHUobCrEQFjATegQICBAB&amp;usg=AOvVaw3gzOKEiAWVF1jQtdRapnMx">
    <div class="BNeawe vvjwJb AP7Wnd">
     Introdução à Ciência de Dados 2.0 - Data Science Academy
    </div>
    <div class="BNeawe UPmit AP7Wnd">
     https://www.datascienceacademy.com.br › course › courseid=introduo--cin...
    </div>
   </a>
  </div>
  <div class="x54gtf">
  </div>
  <div class="kCrYT">
   <div>
    <div class="BNeawe s3v9rd AP7Wnd">
     <div>
      <div>
       <div class="BNeawe s3v9rd AP7Wnd">
        Ciência de Dados é a exploração e análise de todos os dados disponíveis, com o objetivo de desenvolver compreensão, extrair conhecimento e formular ações  ...
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

### Montando o código

In [25]:
buscas = []
for resultado in soup.find_all('div', attrs={'class': 'BNeawe vvjwJb AP7Wnd'}):
    bloco = resultado.parent.parent.parent.parent
    
    titulo = resultado.text
    url = bloco.a['href']
    descricao = bloco.find('div', attrs={'class': 'BNeawe s3v9rd AP7Wnd'}).text
    
    buscas.append([titulo, url, descricao])

buscas[0]

['Introdução à Ciência de Dados 2.0 - Data Science Academy',
 '/url?q=https://www.datascienceacademy.com.br/course%3Fcourseid%3Dintroduo--cincia-de-dados&sa=U&ved=2ahUKEwjr8Zap-Z_pAhXRb30KHUobCrEQFjATegQICBAB&usg=AOvVaw3gzOKEiAWVF1jQtdRapnMx',
 'Ciência de Dados é a exploração e análise de todos os dados disponíveis, com o objetivo de desenvolver compreensão, extrair conhecimento e formular ações \xa0...']

## Exemplo 3 (Kalunga)

In [26]:
# Importando as bibliotecas
import requests
from bs4 import BeautifulSoup

# Encontrar a URL
url = 'https://www.kalunga.com.br/busca/notebook/1'

# Contruir um objeto soup a partir da URL
html = requests.get(url).text
soup = BeautifulSoup(html, 'html.parser')
print(soup.find('title').text)

# Inspecionar a página

	notebook - Busca em Kalunga.com - Informática, Papelaria e Materiais para Escritório

### Achando o primeiro bloco do site

In [27]:
# O primeiro bloco do site tem o título "Notebook 246-G7 8MU94LA, Processador core i5 1.6ghz, Memória de 8GB, Armazenamento SSD de 256GB, Tela de 14", Windows 10 Pro + Monitor LED 23,6" widescreen V24b 2XM34AA HP CX 1 UN"
soup.prettify()

In [28]:
# Dar Ctrl-F no resultado de soup.prettify() para achar o título "Notebook 246-G7 8MU94LA, Processador core i5 1.6ghz, Memória de 8GB, Armazenamento SSD de 256GB, Tela de 14", Windows 10 Pro + Monitor LED 23,6" widescreen V24b 2XM34AA HP CX 1 UN"
# Achar a tag h3 nomeado com a classe yt-lockup-title
titulo = soup.find('h1', attrs={'class': 'text-left mt-2 text-dark'})
print(titulo.prettify())

# Às vezes a página pode conter anúncios, então o primeiro elemento não vai ser o que queremos
# Nesse caso, só rodar o código do BeautifulSoup desde o início

<h1 class="text-left mt-2 text-dark">
 Notebook Probook 440G5 6VV85LA, Processador core i5 1.6ghz, Memória de 4GB, Armazenamento de 500GB+16GB, Tela de 14", Windows 10 Pro + Monitor LED 23,6" widescreen V24b 2XM34AA HP CX 1 UN
</h1>

In [29]:
# Achar o bloco mãe (parent), o bloco que engloba todo o vídeo, neste caso, vão ser múltiploes comandos parent
# Utilizar o comando parent até o código englobar a maioria das informações, mas que não inclua informação no próximo bloco
bloco = titulo.parent.parent.parent.parent
print(bloco.prettify())

# Neste caso, o bloco mãe não possui nenhuma caracterísitca especial, então vamos fazer uma outra abordagem
# Vamos combinar os códigos das duas células que escrevemos

<div class="col col-xs-8 col-sm-8 col-md-12 col-lg-12">
 <div class="col-12 px-0 text-left">
  <div class="col-12">
   <a +="" ,="" 1="" 10="" 23,6"="" 2xm34aa="" cx="" hp="" href="/prod/notebook-probook-440g5-6vv85la-processador-core-i5-1-6ghz-memoria-de-4gb-armazenamento-de-500gb-16gb-tela-de-14-windows-10-pro-monitor-led-23-6-widescreen-v24b-2xm34aa-hp/998551?menuID=47&amp;WT.svl=1" led="" monitor="" pro="" title="Notebook Probook 440G5 6VV85LA, Processador core i5 1.6ghz, Memória de 4GB, Armazenamento de 500GB+16GB, Tela de 14" un"="" v24b="" widescreen="" windows="">
    <h1 class="text-left mt-2 text-dark">
     Notebook Probook 440G5 6VV85LA, Processador core i5 1.6ghz, Memória de 4GB, Armazenamento de 500GB+16GB, Tela de 14", Windows 10 Pro + Monitor LED 23,6" widescreen V24b 2XM34AA HP CX 1 UN
    </h1>
    <div class="reviews my-2 text-left d-none d-md-block">
     <i class="fas fa-star mr-1">
     </i>
     <i class="fas fa-star mr-1">
     </i>
     <i class="fas fa-star mr-1">
     </i>
     <i class="fas fa-star mr-1">
     </i>
     <i class="fas fa-star mr-1">
     </i>
     <span class="text-dark">
      (0)
     </span>
    </div>
    <div class="levemais border-levemais rounded text-center" style="display:none">
     <div class="bg-levemais text-white tiny h6 py-1 mb-0 text-uppercase">
      Leve Mais Por Menos
     </div>
     [LEVE_MAIS]
    </div>
   </a>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-left">
   <div class="text-secondary">
    <span class="text-muted">
     <del>
      <small>
       De: R$5.591,76
      </small>
     </del>
    </span>
   </div>
   <span class="text-primary h6">
    <span class="h3 font-weight-bold">
     R$
     <span>
      5.032
     </span>
     ,58
    </span>
    à vista
   </span>
   <div class="text-dark font-weight-bold small border-top border-light mt-1 pt-1">
    10x de R$547,02 iguais -
    <span class="font-weight-normal">
     Acréscimo de 1,55%a.m. e 20,21% a.a.
    </span>
    <p class="mt-2 mb-1">
     Total a prazo: R$ 5.470,20
    </p>
   </div>
  </div>
 </div>
</div>

### Montando o código

In [30]:
produtos = []
for resultado in soup.find_all('h1', attrs={'class': 'text-left mt-2 text-dark'}):
    bloco = resultado.parent.parent.parent.parent
    
    titulo = resultado.text
    preco = bloco.find('span', attrs={'class': 'text-primary h6'}).text
    categoria = resultado.text.split(' ')[0]
    produtos.append([titulo, preco, categoria])

produtos[0]

['Notebook Probook 440G5 6VV85LA, Processador core i5 1.6ghz, Memória de 4GB, Armazenamento de 500GB+16GB, Tela de 14", Windows 10 Pro + Monitor LED 23,6" widescreen V24b 2XM34AA HP CX 1 UN',
 '\nR$ 5.032,58 à vista\r\n        ',
 'Notebook']

In [31]:
import pandas as pd

# Armazenando os dados
df = pd.DataFrame(produtos, columns=['Título', 'Preço', 'Categoria'])
df.head()

,Título,Preço,Categoria
0,"Notebook Probook 440G5 6VV85LA, Processador co...","\nR$ 5.032,58 à vista\r\n",Notebook
1,"Notebook Probook 440G5 6VV85LA, Processador co...","\nR$ 4.958,06 à vista\r\n",Notebook
2,"Notebook 246-G7 8MU94LA, Processador core i5 1...","\nR$ 3.881,66 à vista\r\n",Notebook
3,"Notebook 246-G7 6YH27LA, Processador core i5 1...","\nR$ 3.716,06 à vista\r\n",Notebook
4,"Notebook 246-G7 8MU94LA, Processador core i5 1...","\nR$ 3.956,18 à vista\r\n",Notebook